<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- display scraped data -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="lastest_mars_news">
            <h3>Latest Mars News</h3>
            <h4>{{mars.news_title}}</h4>
            <p>{{mars.news_paragraph}}</p>
            <br>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-sm-10">
          <span class="page_left">
            <div class="Featured_Image">
              <h3>Featured Mars Image</h3>
              <img src="{{mars.featured_image}}" width=90% />
            </div>
          </span>
        </div>
        <!-- <div class="container"> -->
        <div class="row">
          <div class="col-md-5">
            <span class="page_right">
              <div class="col-md-10">
                <h4>Current Weather on Mars</h4>
                <p>{{mars.mars_weather}}</p>
                <br>
                <div class="col-md-10">
                  <h4>Mars Facts</h3>
                    {{mars.facts_string | safe}}
                </div>
              </div>
            </span>
          </div>

        </div>
        <!-- </div> -->
      </div>
    </div>
    <!-- <div class="hemi"> -->

    <div class="col-sm-10">
      <div class="container">
        <div class="row">
          <br>
          <div class="hemi_title style= " text-align: center">
            <h3>Mars Hemispheres</h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <!-- <br> -->
          <div class="col-md-5">

            <img src="{{mars.cerberus_url}}" width=400, height=400 />
            <h3>{{mars.cerberus_title}}</h3>
          </div>
          <!-- <br> -->
          <div class="col-md-5">

            <img src="{{mars.schiaparelli_url}}" width=400, height=400 />
            <h3>{{mars.schiaparelli_title}}</h3>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-5">

            <img src="{{mars.syrtis_major_url}}" width=400, height=400 />
            <h3>{{mars.syrtis_major_title}}</h3>
          </div>
          <!-- <br> -->
          <div class="col-md-5">

            <img src="{{mars.valles_marineris_url}}" width=400, height=400 />
            <h3>{{mars.valles_marineris_title}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>



</body>

</html>